header.header
    a(href="#").logo
        img(src="images/logo.svg", alt="Logo")
    nav
        ul.nav
            li.nav-item 
                a(href="#").nav-link О нас
            li.nav-item 
                a(href="#").nav-link Услуги
                    .dropdown-icon
                ul.dropdown
                    li.dropdown-item
                        a первый пункт
                    li.dropdown-item
                        a второй пункт                    
            li.nav-item 
                a(href="#").nav-link Вакансии
            li.nav-item 
                a(href="#").nav-link Новости
            li.nav-item 
                a(href="#").nav-link Соглашения
                    .dropdown-icon
                ul.dropdown
                    li.dropdown-item
                        a первый пункт
                    li.dropdown-item
                        a второй пункт   
            li.nav-item
                button.nav-signin ВОЙТИ
            li.nav-item
                button.nav-signup ЗАРЕГИСТРИРОВАТЬСЯ