.landing
    .container
        form.room-selection
            h2 Найдём номера под ваши пожелания
            //- .room-selection__dates
            //-     .arrival
            //-         span ПРИБЫТИЕ
            //-         input(type="date")
            //-     .departure
            //-         span ВЫЕЗД
            //-         input(type="date")
            include calendar.pug
            span ГОСТИ
            select
                option Пункт 1
                option Пункт 2
                option Пункт 3
        span.title Лучшие номера для вашей работы, отдыха и просто вдохновения
        
