.forms {
    display: flex;
    justify-content: space-between;
    padding: 14.1rem 14.3rem 0 14.1rem;
    form {
        width: 32rem;
    }
}

.entry-exit {
    display: flex;
    justify-content: space-between;
    .dropdown{
        width: 47%;
    }
}

.date-filter {
    max-width: 26.5rem;
}

.subscription {
    max-width: 26.5rem;
}

.select-sex {
    width: 50rem;
    display: flex;
}

.rating-container {
    display: flex;
    justify-content: space-between;
}