.landing {
    height:83rem;
    background-image: url(../images/landingpage.png);
    background-size:cover;
    padding-top: 7rem;
}

.room-selection {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 3rem;
    padding-top: 2rem;
    background-color: #fff;
    border-radius: .4rem;
    h2 {
        // width: 30rem;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2.9rem;
    }
    span {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.room-selection__dates {
    display: flex;
}

.container {
    max-width: 117rem;
    height: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    .title {
        position: absolute;
        width:29.7rem;
        text-align: right;
        line-height: 2.4rem;
        bottom: 1.8rem;
        right: 0;
    }
}