doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap", rel="stylesheet")
        link(href="sass/style.scss" rel="stylesheet")
    body
        main.colors-and-type 
            div.wrapper
                div.color
                    .icon.darkShade100
                    .description
                        h2.name Dark Shade 100%
                        small.code #1F2041
                div.color
                    .icon.darkShade75
                    .description
                        h2.name Dark Shade 75%
                        small.code #1F2041
                div.color
                    .icon.darkShade50
                    .description
                        h2.name Dark Shade 50%
                        small.code #1F2041
                div.color
                    .icon.darkShade25
                    .description
                        h2.name Dark Shade 25%
                        small.code #1F2041
                div.color
                    .icon.darkShade5
                    .description
                        h2.name Dark Shade 5%
                        small.code #1F2041
                div.color
                    .icon.purple
                    .description
                        h2.name Purple
                        small.code #BC9CFF
                div.color
                    .icon.green
                    .description
                        h2.name Green
                        small.code #6FCF97                                          
            div.wrapper
                .font
                    h1.tag-name H1
                    h1.description This one is the sub-section or widget title
                .font
                    h2.tag-name H2
                    h2.description Next one is the item title inside widgets
                .font
                    h3.tag-name H3
                    h3.description This is a label or CTA text
                .font
                    .tag-name Body
                    .description This is the body text which is used for most of the design, like paragraphs, lists, etc.